<aside class="sidebar-wrapper" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
  <div class="sidebar-logo" routerLink="/">
    <div class="logo-box">
      <i class="fa-solid fa-bolt"></i>
    </div>
    <span class="logo-text">TalEx</span>
  </div>
  
  <div class="sidebar-content">
    <div class="nav-group" *ngFor="let group of links">
      <h3 class="group-title">{{ group.group }}</h3>
      
      <div class="nav-items">
        <a *ngFor="let item of group.items"
           [routerLink]="item.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link">
          <i [class]="'nav-icon ' + item.iconClass"></i>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </div>
    </div>
  </div>
</aside>
