.layout-container {
  --sidebar-width: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &.has-sidebar {
    --sidebar-width: 80px;
  }
  
  &.sidebar-expanded {
    --sidebar-width: 260px;
  }
}

main {
  flex: 1;
  transition: padding-left 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  width: 100%;
  padding-left: var(--sidebar-width);
}

@media (max-width: 1024px) {
  .layout-container.has-sidebar {
    --sidebar-width: 0px;
  }
  main {
    padding-left: 0;
  }
}